h1{
    color: lightblue;
    font-size: 50px;
    text-align: center;
}
body{
    background-color: gray;
}
#Content {
    width: 70%;
    margin: 30px auto; /* margin để căn giữa */
    padding: 20px; /* thêm khoảng cách bên trong */
    background-color: #ffffff;
    border: 1px solid #ccc;
.main{
    color: black;
    font-size: 45px;
}
#css{
    color:green ;
    font-size: 40px;
    width: 200px;
    border: 20px solid green;
    padding: 50px;
    margin: 20px;
} 
#coban{
    color:red;
    font-size: 40px;
    width: 200px;
    border: 20px solid red;
    padding: 70px;
    margin: 20px;
}
#box{
    color:purple;
    font-size: 40px;
    width: 200px;
    border: 20px solid purple;
    padding: 50px;
    margin: 20px;
}
#selector{
    color:yellow;
    font-size: 40px;
    width: 200px;
    border: 20px solid yellow;
    padding: 50px;
    margin: 20px;
}
